/* PROPIEDADES GENERALES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #eeeeee;
}
/* ESTILOS GENERALES */

.fuente-acento {
  color: #b59a61;
}

nav ul li {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

nav ul li a {
  color: #eeeeee;
}
/* ENCABEZADO */

header {
  background-color: rgba(34, 33, 31, 0.85);
  width: 100%;
}

.logo {
  display: inline-block;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
}

header nav {
  height: 80px;
  float: right;
}

nav ul.menu {
  float: right;
}

nav ul.menu li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul.menu li a {
  color: #eee;
  font-size: 15px;
  text-transform: uppercase;
  padding: 7px 7px;
}
h2 {
  color: brown;
}

/* MENU */

.checkbtn {
  font-size: 25px;
  color: rgb(186, 5, 5);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* MEDIA QUERIES */

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
  /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
  header {
    background-color: burlywood;
  }

  .checkbtn {
    display: block;
  }

  .navbar {
    height: 0vh;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #2c3e50;
    text-align: center;

    transition: all 0.5s;
    overflow: hidden;
  }

  .navbar ul.menu {
    float: none;
    display: block;
    width: 174px;
    margin: 0 auto;
    opacity: 0;
  }

  .navbar ul.menu li a:hover {
    color: #b59a61;
  }
  /* ACTIVE */
  .navbar.active {
    height: 100vh;
  }

  .navbar.active ul.menu {
    opacity: 1;
  }
}


/* ---------AQUI COMIENZAN LAS PROPIEDADES DEL MAIN ---------- */

.greeting {
  display: flex;
  background-color:rgb(184, 205, 205);
  width: 300px;
  height: 60px;
  border: 2px solid rgb(161, 153, 144);
  margin: 100px;
  padding: 10px;
  align-items:end;
  flex-direction: row;
  

}
.acerca-de a {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-size: 20px;    
}

.seccion-1 {
padding: 6em 0 0 0;
display: flex;
flex-wrap: wrap;
width: 100%;
flex-direction:row;
}

.acerca-de {
flex-direction: row;
justify-content:space-evenly;
width: 100%;
background-color:white
padding: 2em;
}

.card {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.card p {
font-size: 20px;
color:rgb(7, 7, 50);
text-align: center;
}

.seccion-2 {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  width: 100%;

  padding: 100px 0 200px 0;
  margin-top: 100px;
  border: 1px solid white;
}

.photo-grid img{
  position: relative;
  top: 10px;
  left: 10px;
  border: 2px solid red;
  width: 400px;
}

.seccion-proyectos {
display: flex;
flex-wrap: wrap;
}

.card-container{
width: 95%;
display: flex;
flex-direction:row;
justify-content:center;
}

.card1 {
/*border: 4px dotted teal;
border-radius: 5%; */

padding: 5px;
height: 400px;
max-width: 500px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
font-size: 20px;
}

.text {

text-align: center;   
}

/* ESTILOS PARA PANTALLAS MAS PEQUEÑAS (hasta 768px) */

@media (max-width: 768px) {
  header { 
  background-color:rgb(118, 80, 74);
  }
  }
  
  @media (min-width: 768) {
  header {
    background-color: red;
  }
  }
  
  @media(min-width: 768px) {
  .acerca-de{
      width: 45%;
  }
  }
  
  @media(min-width: 1024px) {
  .acercad-de {
      width: 30%;
  }
  }
  
  @media(min-width: 768px) {
  .card-container {
      width: 45%;
  }
  }
  
  @media(min-width: 1024px) {
  .card-container {
      width: 30%;
  }
  }

/* ----------------------PROPIEDADES DEL FOOTER----------------------- */
#footer {
  display: flex;
  flex-direction: column;
  align-items:center;

  background-color:  rgba(34, 33, 31, 0.85);
  width: 100%;
  border: 2px solid white;
  margin: 100px 0 0 0;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  color:#eeeeee;
}

footer a i { 
  justify-content: flex-end;
  color: rgb(45, 226, 51);
  position: fixed;
  bottom: 5px;
  right: 5px;
}

/* -----------------------PROPIEDADES PARA EL FORMULARIO---------------------------- */
  .form-header {
    text-align:center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
  }
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* ------------- Formulario ------------- */
  
  .formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }

  /* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"],
  .form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 33%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }

  /* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (min-width: 700px) {
    .form-header {
      padding: 50px;
    } 
  
    .form-row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .form-row input[type="text"] {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
  }

  .form-row input[type="text"],
  .for-row input[tipe="email"] {
    background-color: #bdbbdb;
    border: 0;
    border-radius: 6px;
    padding: 7px;
    font-size: 14px;
  }

  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }
  /* ------------- Para Pantallas de más de 700px ------------- */
  
  
  .form-row textarea {
      width: 250px;
    }

    .form-row button {
        font-size: 16px;
        font-weight: bold;
      
      
        color: #ffffff;
        background-color: #5995da;
      
      
        border: none;
        border-radius: 3px;
      
      
        padding: 10px 40px;
        cursor: pointer;
      }
      
      
      .form-row button {
        background-color: rgb(109, 21, 6);
      }
      
      
      .form-row button:active {
        background-color: #407fc7;
      }
      
      
      /* ------------- Para Pantallas de más de 700px ------------- */
      
      
      .form-row button {
          margin-left: 120px;

